

<div class="new">
       <button mat-fab class="plusButton"><mat-icon class="plusIcon">add_circle</mat-icon></button>
</div>

<div class="device" *ngFor="let device of ResultSearch">
    <mat-card class="card"[ngStyle]="{'background': device.status? '#caebd4':'#edd0c8'}" >
    <div class="container">
   <div class="cont" [ngSwitch]=" device.status ">
            <button mat-fab *ngSwitchCase="0" style="background:'#f34235'" (click)="statusDevice(device)" ><mat-icon class="matIcon">stop</mat-icon></button>   
            <button mat-fab *ngSwitchCase="1"  style="background:'#56caa5'" (click)="statusDevice(device)"><mat-icon class="matIcon">play_arrow</mat-icon></button>   
       <div class="device">
           <p>Device :<b> {{ device.device }}</b></p>
           <p>Room :<b> {{ device.room }}</b></p>
           <p>Floor :<b> {{ device.floor }}</b></p>
           <p>Status :<b> {{ device.status }}</b></p>
       </div>
    </div>
       <div class="right">
        <button mat-fab color="warn" aria-label="delete icon">
            <mat-icon>delete</mat-icon>
          </button>
          <a href="">More info....</a>
       </div>
    </div>
      </mat-card>
</div>

