<div class="container">
    <div class="text">
        <h1>Control your home from <span class="primary-color"> anywhere </span> in the word</h1>
        <h5>A smart house  with advanced feathures that you can control</h5>
        <button mat-raised-button class="primary-background" ><mat-icon>get_app</mat-icon> GET STARTED </button>
    
    </div>
    <img src="../../../assets/img/4085047.jpg">
</div>
<div class="blocA">
    <h1>Easy controle</h1>
    <img src="../../../assets/img/couvertureIoT.jpg" alt="" >
</div>
<div class="blocB">
    <div class="controle">
    <h1>Home Automation and Connectivity</h1>
    <p>The breadth and potential of IoT is extraordinary, providing convenience and timesaving opportunities throughout our daily lives. Advances in AI and the shift towards endpoint and edge computing are creating new possibilities for home automation. These possibilities can range from security systems that notify you when an unfamiliar face or suspicious noise is detected, to smart home hubs that not only control lights and appliances but predict when maintenance is needed, such as when a lightbulb will need replacing.</p> 
</div>
<button mat-raised-button class="secondary-background">Read more</button>  
</div>
