<mat-toolbar color="" class = "navbar">
   <div> Smart House 	<mat-icon class="primary-color">settings_remote</mat-icon></div>
   <div class="navlist">
    <a mat-button routerLink='Home'>Home</a>
    <a mat-button routerLink='HowItWorks'>How it work's</a>
    <a mat-button routerLink='About'>About</a>
    <a mat-button routerLink='Help'>Help</a>
    <a mat-button routerLink='SignUp'>Sign up </a>
    <a mat-raised-button  (click)="showDialog()" class="primary-background">Sign in <mat-icon> vpn_key</mat-icon></a>
   </div>
</mat-toolbar>
